{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}配送先住所とお支払い方法 - {{ request.site.siteinfo.title }}{% endblock %}

{% block content %}


<div id="checkout" class="container wow fadeIn">

  <!-- Heading -->
  <h2>配送先住所<br />お支払い方法</h2>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-8 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card content-->
        <form method="POST" class="card-body">
          {% csrf_token %}
          <label for="id_billing_address_option" class="label">
            配送先住所の指定
          </label>

          {% if user.shipping_addresses.count %}

          <div class="mb-4">
            <p class="mb-0">この住所に送る</p>
            <div class="ml-3">
              <p class="address mb-0">〒{{ primary_shipping_address.zip}}</p>
              <p class="address mb-0">{{ primary_shipping_address}}</p>
              {% if user.shipping_addresses.count > 1 %}
              <a href="{% url 'user:primary-shipping-address' %}?next={{ request.path }}"
                class="btn btn-outline-second btn-sm">他の住所を選択する</a>
              {% endif %}
              <a href="{% url 'user:create-shipping-address' %}?next={{ request.path }}"
                class="btn btn-second btn-sm">配送先住所を追加</a>
            </div>
          </div>

          {% else %}


          <p>配送先住所が登録されてません</p>
          <a href="{% url 'user:create-shipping-address' %}?next={{ request.path }}"
            class="btn btn-main btn-sm">配送先住所を登録</a>

          {% endif %}


          <hr>

          <div id="div_id_delivery_time" class="form-group">
            <label for="id_delivery_time" class="label">配達時間ご指定</label>
            <div id="id_delivery_time">
              <select name="delivery_time" class="select form-control" id="id_delivery_time">
                {% for value, name in form.fields.delivery_time.choices %}
                <option value="{{ value }}">{{ name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <hr>

          <div id="div_id_payment_option" class="form-group">
            <label for="id_payment_option" class="label requiredField">
              お支払い方法<span class="asteriskField">*</span>
            </label>
            <div id="id_payment_option" class="d-block">
              {% for value, name in form.fields.payment_option.choices %}
              <div class="custom-control custom-radio">
                <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio"
                  class="custom-control-input" required>
                <label class="payment-option custom-control-label" for="{{ name }}">{{ name }}</label>
              </div>
              {% endfor %}
            </div>
          </div>


          <!--Grid row-->
          <!-- <div class="custom-control custom-checkbox">
              <input {% if form.save_info.value %}checked{% endif %} type="checkbox" class="custom-control-input"
                name="save_info" id="save-info">
              <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div> -->

          <!-- <div class="custom-control custom-checkbox">
              {{ form.same_billing_address }}
              <label class="custom-control-label" for="id_same_billing_address">Shipping address is the same as my
                billing
                address</label>
            </div> -->

          <!-- <div class="custom-control custom-checkbox">
              {{ form.save_info }}
              <label class="custom-control-label" for="id_save_info">Save this information for the next time</label>
            </div> -->

          <hr class="mb-4">

          {% if order.get_total %}
          <button class="btn btn-main btn-lg btn-block" type="submit">注文手続きを進める</button>
          {% else %}
          <a class="btn btn-main btn-lg btn-block" href="/">Continue shopping</a>
          {% endif %}
        </form>

        <!-- <form autocomplete="off">
            {% csrf_token %}
            {{ form|crispy}}
            <button class="btn btn-primary" type='submit'>Checkout</button>
          </form> -->

      </div>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="cart-sidebar col-md-4 mb-4">

      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-quantity badge-pill">{{ order.items.count }}</span>
      </h4>

      <!-- Cart -->
      <ul class="list-group mb-3 z-depth-1">
        {% for order_item in order.items.all %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ order_item.quantity }} x {{ order_item.item.title}}</h6>
            <small class="text-muted">{{ order_item.item.description}}</small>
          </div>
          <span class="text-muted">${{ order_item.get_final_price }}</span>
        </li>
        {% endfor %}
        <li class="promo-code list-group-item d-flex justify-content-between">
          <div>
            <h6 class="my-0">Promo code</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span>-$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>${{ order.get_total }}</strong>
        </li>
      </ul>
      <!-- Cart -->

      <!-- Promo code -->
      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-second btn-md waves-effect m-0" type="button">Redeem</button>
          </div>
        </div>
      </form>
      <!-- Promo code -->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</div>

{% endblock content %}