{% extends "base.html" %}
{% load humanize %}

{% block head_title %}ご注文内容のご確認 - {{ request.site.siteinfo.title }}{% endblock %}

{% block content %}



<main class="clearfix">

  <div id="order-summary" class="container">

    <h2>ご注文内容のご確認</h2>

    {% if user.first_name and user.last_name %}
    <p class="bold">{{ user.last_name }}{{ user.first_name }}様</p>
    {% else %}
    <h5 class="mt-4 mb-5 text-danger">
      <i>ここでお名前をご登録ください
        <a href="{% url 'user:edit-profile' %}?next={{ request.path }}">Click Here</a>
      </i>
    </h5>
    {% endif %}
    <p>Order no. {{ order.id}} </p>
    <p>Order date: {{ order.ordered_date }}</p>

    {% include "parts/cart-list.html" %}

    <div id="order-info">
      <div>
        <p class="label mb-0">配送先住所</p>
        <p class="address">{{ order.shipping_address }}</p>
      </div>

      {% if order.billing_address %}
      <div>
        <p class="label mb-0">請求先住所</p>
        <p class="address">{{ order.billing_address }}</p>
      </div>
      {% endif %}

      <div>
        <p class="label mb-0">配達時間ご指定</p>
        <p class="address">{{ order.get_delivery_time_display }}</p>
      </div>

      <div>
        <p class="label mb-0">お支払い方法</p>
        <p class="address">{{ order.get_payment_option_display }}</p>
      </div>

    </div>

    <div class="clearfix flex-buttons">
      {% if order.get_total and order.shipping_address and order.payment_option %}
      <a class='btn btn-main' href="{% url 'store:confirm-order' %}">注文を確定する </a>
      {% else %}
      <a class='btn btn-main' href="/">買い物を続ける</a>
      {% endif %}
      <a class='btn btn-second' href="{% url 'store:checkout' %}">注文内容を変更する</a>
    </div>

  </div> <!-- container -->





  {% endblock content %}