{% extends "base.html" %}
{% load humanize wagtailimages_tags wagtailcore_tags %}
{% block head_title %}
{% with settings.site_settings.SiteInfo.site_name as site_name %}
{% if site_name %}{{ site_name }}{% endif %}
{% endwith %}
{% endblock %}
{% block content %}



<div id="home" class="container">

  {% include "parts/category-menu.html" %}

  {% if pickup_items.count %}

    {% for item in pickup_items %}

    <div id="pickup-item">
      <div class="item-slide">
        {% if item.slide_images.count %}
        {% image item.slide_images.first.slide_image max-1200x1200 as img %}
        <a href="{{ item.url }}">
          <img src="{{ img.url }}" alt="{% if item.list_img_alt %}{{ item.list_img_alt }}{% else %}{{ img.alt }}{% endif %}">
        </a>
        {% endif %}

        {% if item.stock == 0 %}
        <div class="sold">
          <a href="{{ item.url }}">
            <p>Sold</p>
          </a>
        </div>
        {% endif %}

      </div>
      <!-- item-slide -->

      <div class="item-detail">

        <div>
          <a href="">
            <!-- <span
                  class="badge {{ pickup_item.get_category_display }}-color mr-1">{{ pickup_item.get_category_display }}</span> -->
            <!-- <span class="badge {{ pickup_item.category }}-color mr-1">{{ pickup_item.category }}</span> -->
            <span class="badge category-color mr-1">{{ item.category }}</span>
          </a>

          <a href="{{ item.url }}">
            <h2>{{ item.title }}</h2>
          </a>
          <p class="price">
            {% if item.discount_price %}
            <span class="mr-1">
              <small><del>¥{{ item.price | intcomma }}</del></small>
            </span>
            <span>¥{{ item.discount_price | intcomma }}</span>
            {% else %}
            <span>¥{{ item.price | intcomma }}</span>
            {% endif %}
          </p>
          <p class="mt-3 mb-3">{{ item.description | safe | linebreaks | slice:":100" }} </p>
        </div>

        </div>
        <!-- item-detail -->
    </div>
    <!-- pickup-item -->

    {% endfor %}
  {% endif %}


  <div class="featured-items">

    <section>

      <header>
        <h1>Featured Items</h1>
      </header>
      <ul>
        {% for item in featured_items %}
        <li>
          <div>
            <a href="{{ item.url }}">
              <h3>{{ item.title }}</h3>
            </a>
            {% if item.discount_price %}
            <h4>
              ¥{{ item.discount_price | intcomma }}
            </h4>
            {% else %}
            <h4>¥{{ item.price | intcomma }}</h4>
            {% endif %}
            <div>
              {% if item.list_image %}
              <a href="{{ item.url }}">
              {% image item.list_image max-300x300 as img %}
                <img src="{{ img.url }}" alt="{% if item.list_img_alt %}{{ item.list_img_alt }}{% else %}{{ img.alt }}{% endif %}">
              </a>
              {% endif %}
            </div>
          </div>

          {% if item.stock == 0 %}
          <div class="sold">
            <a href="{{ item.url }}">
              <p>Sold</p>
            </a>
          </div>
          {% endif %}

        </li>
        {% endfor %}
      </ul>

    </section>

  </div> <!-- items -->


  <!-- {% if is_paginated %}
  <nav class="d-flex justify-content-center wow fadeIn">
    <ul class="pagination pg-blue">

      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
          <span class="sr-only">(current)</span>
        </a>
      </li>

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %} -->

  <div class="whatsnew mt-5">

    <section>

      <header>
        <h1>What's New</h1>
      </header>
      <ul>
        {% for post in posts %}
        <li>
          <div class="entry-date-wrap">
            <div class="date-item">{{ post.first_published_at |date:"j" }}</div>
            <div class="montn-item">{{ post.first_published_at |date:"M" }}</div>
          </div>
          <div>
            <h2><a class="article-title" href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="article-content"> {{ post.main_contents.first.text | richtext | slice:":100" }}.....</p>
            <a href="{{ post.url }}" class="continue">Read More</a>

          </div>
        </li>
        {% endfor %}
      </ul>

    </section>

  </div> <!-- whatsnew -->

</div> <!-- #home -->

{% include "parts/subscribe.html" %}

{% endblock content %}
