{% extends "base.html" %}
{% load humanize wagtailimages_tags wagtailroutablepage_tags %}

{% block head_title %}
{% if category %}
Category: {{ category.name }}
{% elif tag %}
Tag: {{ tag.name }}
{% else %}
商品一覧
{% endif %}

{% with settings.site_settings.SiteInfo.site_name as site_name %}
{% if site_name %} - {{ site_name }}{% endif %}
{% endwith %}

{% endblock %}

{% block content %}

<div id="item-list" class="container clearfix">

  {% include "parts/category-menu.html" %}

  {% if category %}
  <small>カテゴリー: </small>
  <h2 class="archive-heading">{{ category.name }}</h2>
  {% elif tag %}
  <small>タグ: </small>
  <h2 class="archive-heading">{{ tag.name }}</h2>
  {% endif %}

  <div class="category-item-list">

    {% for item in items %}

    <div>

      <div>
        {% if item.list_image %}
        <a href="{{ item.url }}">
          {% image item.list_image max-150x150 as img %}
          <img src="{{ img.url }}" class="thumb">
        </a>
        {% endif %}
      </div>

      <div>
        <a href="{{ item.url}}">
          {{ item.title }}
        </a>
      </div>

      <div>
        {% if item.discount_price %}
        ¥{{ item.discount_price | intcomma }}
        {% else %}
        ¥{{ item.price | intcomma}}
        {% endif %}
      </div>

    </div>

    {% empty %}

    <div class="empty">このカテゴリーの商品は現在ありません。</div>

    {% endfor %}

  </div>



  <!-- For List(ALL) Page-->
  {# Only show pagination if there is more than one page to click through #}
  {% if items.paginator.num_pages > 1 %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="pagination">
          {% if items.has_previous %}
          <li class="page-item">
            <a href="?page={{ items.previous_page_number }}" class="page-link">
              <span>&laquo;</span>
            </a>
          </li>
          {% endif %}

          {% for page_num in items.paginator.page_range %}
          <li class="page-item {% if page_num == items.number %} active{% endif %}">
            <a href="?page={{ page_num }}" class="page-link">
              {{ page_num }}
            </a>
          </li>
          {% endfor %}

          {% if items.has_next %}
          <li class="page-item">
            <a href="?page={{ items.next_page_number }}" class="page-link">
              <span>&raquo;</span>
            </a>
          </li>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}


  <!-- For Category Page-->
  {% if page_obj.has_other_pages %}

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">
      <i class="fas fa-angle-double-left"></i>
    </a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">
      <i class="fas fa-angle-left"></i>
    </a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
      href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">
      <i class="fas fa-angle-right"></i>
    </a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">
      <i class="fas fa-angle-double-right"></i>
    </a>
    {% endif %}

  {% endif %}


    <h5>Tags:</h5>
    <small>
      <!-- {% for tag in item_tags %}
      <a href="">
        {{ tag.name }}
      </a>
      {% endfor %} -->
      {% for item in tagged_items %}
      <a href="{% url 'store:tag-view' item.tag.slug %}">
        {{ item.tag }}
      </a>
      {% endfor %}
    </small>

</div> <!-- #item-list -->

{% endblock content %}