{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block head_title %}{{ item.title }} - {{ request.site.siteinfo.title }}{% endblock %}

{% block content %}

<div id="item" class="container dark-grey-text">

  {% include "parts/category-menu.html" %}

  <div class="feature">

    <div class="item-slide">

      <div class="swiper-container gallery-top">
        <ul class="swiper-wrapper">
          {% if item.image %}
          <li class="swiper-slide expand-modal">
            <img src="{{ item.image_medium.url }}">
          </li>
          {% endif %}
          {% if item.other_images.count %}
          {% for photo in other_images %}
          <li class="swiper-slide expand-modal square">
            <img src="{{ photo.medium.url }}">
          </li>
          {% endfor %}
          {% endif %}
        </ul>
        <!-- swiper-wrapper -->
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      </div>
      <!-- swiper-container -->


      <div class="swiper-container gallery-thumbs">
        <ul class="swiper-wrapper">
          {% if item.image %}
          <li class="swiper-slide">
            <img src="{{ item.image_small.url }}">
          </li>
          {% endif %}
          {% if item.other_images.count %}
          {% for photo in other_images %}
          <li class="swiper-slide">
            <img src="{{ photo.small.url }}">
          </li>
          {% endfor %}
          {% endif %}
        </ul>
        <!-- swiper-wrapper -->
      </div>
      <!-- swiper-container -->

      {% if item.image %}

      <div class="modal">
        {% if item.image.width > 1920 or item.image.height > 1920 %}
        <div class="bcimage" style="background-image: url('{{ item.image_large.url }}');"></div>
        {% else %}
        <div class="bcimage" style="background-image: url('{{ item.image.url }}');"></div>
        {% endif %}
      </div>

      {% if item.other_images.count %}
      {% for photo in other_images %}
      <div class="modal">
        {% if item.image.width > 1920 or item.image.height > 1920 %}
        <div class="bcimage" style="background-image: url('{{ photo.large.url }}');"></div>
        {% else %}
        <div class="bcimage" style="background-image: url('{{ photo.url }}');"></div>
        {% endif %}
      </div>
      {% endfor %}
      {% endif %}

      {% endif %}

    </div>
    <!-- item-slide -->

    <!--item-detail-->
    <div class="item-detail">

      <div>

        <a href="{% url 'core:category-pages' item.category %}">
          <!-- <span class="badge {{ item.get_category_display }}-color mr-1">{{ item.get_category_display }}</span> -->
          <!-- <span class="badge {{ item.category }}-color mr-1">{{ item.category }}</span> -->
          <span class="badge category-color mr-1">{{ item.category }}</span>
        </a>

        <h2>
          {{ item.title }}
          {% if item.draft %}
          <small class="text-danger">（非公開中）</small>
          {% endif %}

          <!-- {% if already_favorite %}
              <a href=" {{ item.get_remove_from_fav_items_url }}">
                <i class="fas fa-heart mobile-only"></i>
              </a>
              {% else %}
              <a href="{{ item.get_add_to_fav_items_url }}">
                <i class="far fa-heart mobile-only"></i>
              </a>
              {% endif %} -->
        </h2>

        <p class="price">
          {% if item.discount_price %}
          <span class="mr-1">
            <small><del>¥{{ item.price | intcomma }}</del></small>
          </span>
          <span>¥{{ item.discount_price | intcomma }}</span>
          {% else %}
          <span>¥{{ item.price | intcomma }}</span>
          {% endif %}
        </p>
        <p class="mt-3 mb-3">{{ item.description | safe | linebreaks }} </p>

        {% if item.stock == 0 %}
        <p class="stock text-danger">在庫がありません</p>
        {% elif item.stock %}
        <p class="stock">在庫数: {{ item.stock }}</p>
        {% endif %}

        {% if not item.stock == 0 %}
        <form method="POST" action="{% url 'core:add-to-cart' item.id %}" class="post-form">
          {% csrf_token %}
          <fieldset class="form-group">
            <!-- <legend class="border-bottm mb-4">Option</legend> -->

            {% if item.color_option.count %}
            <div id="div_id_color_option" class="form-group">
              <label for="id_color_option" class=" requiredField">カラー<span class="asteriskField">*</span> </label>
              <div>
                {{ form.color_option }}
              </div>
            </div>
            {% endif %}
            {% if item.size_option.count %}
            <div id="div_id_size_option" class="form-group">
              <label for="id_size_option" class=" requiredField">サイズ<span class="asteriskField">*</span> </label>
              <div>
                {{ form.size_option }}
              </div>
            </div>
            {% endif %}
            <div id="div_id_quantity" class="form-group">
              <label for="id_auqntity" class=" requiredField">数量<span class="asteriskField">*</span> </label>
              <div>
                {{ form.quantity }}
              </div>
            </div>
            <button class="btn btn-main btn-md" type="submit">カートに入れる<i class="fas fa-shopping-cart ml-1"></i></button>
          </fieldset>
        </form>
        {% endif %}


        <div>
          {% if already_favorite %}
          <a href="{{ item.get_remove_from_fav_items_url }}" class="btn btn-outline-second btn-md"
            id="add-to-cart">お気に入りから外す</a>
          {% else %}
          <a href="{{ item.get_add_to_fav_items_url }}" class="btn btn-outline-main btn-md"
            id="add-to-cart">お気に入りに追加</a>
          {% endif %}
        </div>

        <!-- {% if item.size_option %}
            <div>
              {% for size in size_option %}
              {{ size }}
              {% endfor %}
            </div>
            {% endif %}

            {% if item.color_option %}
            <div>
              {% for color in color_option %}
              {{ color }}
              {% endfor %}
            </div>
            {% endif %} -->

        <!-- <form class="d-flex justify-content-left">
          <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
          <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </button>
          </form> -->

      </div>

    </div>
    <!--item-detail-->


    {% if user.is_staff %}
    <div class="flex-buttons">
      <a href="{% url 'core:item-update' item.slug %}" class="btn btn-outline-main btn-md">編集する</a>
      <a href="{% url 'core:item-delete' item.slug %}" class=" btn btn-outline-danger btn-md">削除する</a>
    </div>
    <div></div>
    <div>
      <a href="{% url 'core:item-create' %}" class="btn btn-outline-second btn-md btn-add-item">商品を追加する</a>
    </div>
    {% endif %}

  </div>
  <!--feature-->


  <div class="recommend">
    <h6>あなたにおすすめ</h6>
    <div class="other-items">
      {% for item in other_items %}
      <div class=" item {% if item.featured %}featured-item{% endif %}">
        {% if item.image %}
        <div class="square">
          <a href="{{ item.get_absolute_url }}">
            <img src="{{ item.image_medium.url }}" alt="">
            <!-- <div style="background-image: url('{{ item.image_medium.url }}');"></div> -->
          </a>
        </div>
        {% endif %}
        <div class="item-title">
          <small>{{ item.get_category_display }}</small>
          <a href="{{ item.get_absolute_url }}">
            <h3>{{ item.title }}</h3>
          </a>
          <p>¥
            {% if item.discount_price %}
            {{ item.discount_price | intcomma }}
            {% else %}
            {{ item.price | intcomma }}
            {% endif %}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- <div class="mt-5">
      <h3>You might also like...</h3>
      <div class="other-items">
        {% for item in other_items %}
        <div>
          {% if item.image %}
          <a href="{{ item.get_absolute_url }}">
            <img src="{{ item.image.url }}" class="card-img-top" alt="">
          </a>
          {% endif %}
          <a href="{{ item.get_absolute_url }}">
            {{ item.title }}
          </a>
        </div>
        {% endfor %}
      </div> -->


</div>
<!-- item -->


{% endblock content %}