:root {
  --color-primary: #008cba;
  /* --color-primary: rgb(53, 88, 118); */
  --color-primary-darker: #007095;
  --color-primary-dark: #004e68;
}

/* header {
  background-color: #008cba;
} */

/* a, a:hover {
  color: #008cba;
} */

.nav-wrapper .inner {
  background-color: #575757;
}

.nav-search input {
  background-color: #737373;
}

.nav-main .menu-active {
  background: #444;
}

.nav-main .account {
  background: #333;
}

.messages .success {
  background-color: #008cba;
}

/* .button {
  background-color: #008cba;
}   */

/* header .button {
  background-color: #e1c105;
}
header .button:hover {
  background-color: #fada1f;
} */

/* .nav-wrapper .inner {
	padding-top: 3rem;
} */

.nav-search {
  margin-top: 1rem;
}

.logo {
  display: none;
}

/* .title .halloeditor, .title input:not([type="submit"]), .title textarea { */
#id_title {
  /* font-family: Open Sans,Arial,sans-serif; */
  font-family: inherit;
}