:root {
  --color-primary: #008cba;
  /* --color-primary: rgb(53, 88, 118); */
  --color-primary-darker: #007095;
  --color-primary-dark: #004e68;
}

/* header {
  background-color: #008cba;
} */

/* a, a:hover {
  color: #008cba;
} */

.sidebar-loading__inner, .sidebar__inner {
  background-color: var(--color-primary);
}

.sidebar-menu-item:hover,
.sidebar-menu-item--active {
  background-color: var(--color-primary-darker);
}

.w-bg-primary, .hover\:w-bg-primary-200:hover, .focus\:w-bg-primary-200:focus {
  background-color: var(--color-primary-dark);
}

.sidebar-footer {
  background-color: var(--color-primary-darker);
}

.button {
  background-color: var(--color-primary);
}

.button:hover {
  background-color: var(--color-primary-darker);
}

.c-page-explorer {
  background-color: var(--color-primary-darker);
}

.c-page-explorer__header, 
.sidebar-sub-menu-panel {
  background-color: var(--color-primary-darker);
}

.c-page-explorer__header__title:focus, .c-page-explorer__header__title:hover, 
.c-page-explorer__item__link:focus, .c-page-explorer__item__link:hover,
.c-page-explorer__item__action:focus, .c-page-explorer__item__action:hover {
  background-color: var(--color-primary-dark);
}

.c-page-explorer__header,
.c-page-explorer__item {
  border-color: var(--color-primary-dark);
}

input#menu-search-q {
  background-color: #737373;
}

.w-header h1 {
  color: var(--color-primary);
}

.listing .title .title-wrapper a, .listing .title h2 a,
.modeladmin .listing thead th.sorted a {
  color: var(--color-primary);
}


.messages .success {
  background-color: #008cba;
}


.sidebar-wagtail-branding {
  display: none;
}

/* .title .halloeditor, .title input:not([type="submit"]), .title textarea { */
#id_title {
  /* font-family: Open Sans,Arial,sans-serif; */
  font-family: inherit;
}


.Draftail-Editor {
  min-height: 186px;
}