body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
}

#checkout,
#billing-address,
#order-info,
#profile {
  font-family: "roboto", sans-serif;
}
#checkout .cart-sidebar,
#billing-address .cart-sidebar,
#order-info .cart-sidebar,
#profile .cart-sidebar {
  font-family: "Lato", sans-serif;
}

nav h1 {
  font: 0/0 a;
  background: url(https://store7.s3.amazonaws.com/store7-logo-black.png);
  width: 120px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

nav#main-menu {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.8rem;
}
nav#main-menu .main-menu-left {
  font-size: 0.9rem;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 3rem;
}

section header h1 {
  font-size: 1.5em;
  font-weight: 100;
}

h2 {
  margin-top: 3rem;
  font-weight: 100;
}

p {
  font-weight: 300;
  font-feature-settings: "palt";
  color: #333;
  font-size: 15px;
  line-height: 1.4;
}

@media (max-width: 980px) {
  section header h2 {
    margin-right: 10px;
  }
}
#edit-profile h2,
.item-detail h2 {
  margin-bottom: 1rem;
}

.feature .item-detail h2 {
  font-family: "Lato", sans-serif;
  margin-top: 1rem;
  font-weight: 300;
}
.feature .item-detail small {
  font-weight: 100;
}
.feature .item-detail a.btn-main {
  color: #fff;
}
.feature .item-detail .price {
  font-weight: 400;
}
.feature .item-detail .stock {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 20px 0;
}

h3 {
  font-size: 1rem;
  font-weight: 800;
}

#about h2 {
  margin-bottom: 1.2rem;
}
#about h2:first-child {
  margin-top: 0;
}
@media (max-width: 768px) {
  #about h2 {
    margin-left: 0;
  }
}
#about h3 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  #about h3 {
    margin-left: 1rem;
  }
}
#about h3:nth-last-child(-n+10) {
  margin-bottom: 0.5rem;
}
#about h4 {
  color: rgb(226, 28, 28);
  font-size: 1.4rem;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  #about h4 {
    margin-left: 1rem;
  }
}
@media (min-width: 768px) {
  #about p {
    margin-left: 3rem;
  }
  #about p:nth-child(4), #about p:nth-child(5) {
    margin-left: 1rem;
  }
  #about ol {
    margin-left: 1rem;
  }
  #about ol li {
    margin-bottom: 0.2rem;
    font-weight: 400;
  }
}

.shipping-address h3,
.billing-address h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 3px 2px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.featured-items > section > ul > li > div h3 {
  color: white;
  background: #5f788a;
  font-weight: 300;
  font-size: 1.1rem;
  margin: 0;
  padding: 3px 5px;
  height: 1.5rem;
  overflow: hidden;
}
.featured-items > section > ul > li > div h4 {
  color: white;
  background: rgba(180, 165, 130, 0.7);
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  padding: 5px 7px;
  text-align: right;
}

li.username {
  color: #000;
}
li.username h5 {
  display: inline;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.blog li.username {
  color: #fff;
}

@media (max-width: 768px) {
  li.username {
    background: #5f788a;
    color: #fff;
  }
  li.username h5 {
    color: #fff;
  }
}
.card .card-body h5,
h5 {
  font-weight: 500;
  margin-top: 2rem;
}

.card .card-body h6 {
  font-weight: 500;
}

.address,
.payment-option,
.bold {
  font-weight: 600;
}

.radio-label {
  font-weight: 300;
}

#div_id_use_stored_shipping_address .pickup-address {
  font-style: italic;
  font-size: 0.6rem;
  margin-left: 3rem;
}

.store form {
  font-family: "Noto Sans JP", sans-serif;
}
.store form legend {
  font-size: 1.7rem;
  font-weight: 200;
  margin-bottom: 3rem;
}
.store form label {
  font-size: 0.8rem;
  font-weight: 300;
}
.store form small {
  font-size: 0.7rem;
}

.label {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
}

.testing-alert {
  color: red;
  font-weight: 400;
  font-size: 0.7rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog .testing-alert {
  display: none;
}

.navbar.scrolling-navbar {
  padding-bottom: 7px;
}

.navbar-nav,
a#nav-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .store li.nav-item {
    border-top: 1px solid #666;
  }
  .blog li.nav-item {
    border-top: 1px solid #cbd5db;
  }
  #main-menu li {
    padding: 10px;
    width: 100%;
    text-align: center;
  }
}
#main-menu .nav-flex-icons div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 768px) {
  #main-menu .nav-flex-icons {
    flex-direction: column;
  }
  #main-menu .nav-flex-icons div {
    width: 100%;
  }
}

#main-menu {
  background: rgba(180, 165, 130, 0.7);
}
#main-menu h5 {
  font-weight: 400;
}
#main-menu i.fa-user-edit {
  padding-right: 0;
}

.blog #main-menu {
  background: #5f788a;
}
.blog #main-menu h1 {
  font: 0/0 a;
  background: url(https://store7.s3.amazonaws.com/store7-logo-white.png);
  width: 120px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.blog #main-menu a,
.blog #main-menu h5 {
  color: white;
}

.md-form {
  margin-bottom: 0;
}

.navbar .nav-item .nav-link .fab,
.navbar .nav-item .nav-link .far,
.navbar .nav-item .nav-link .fas {
  padding-right: 3px;
  padding-left: 3px;
}

.navbar-collapse {
  opacity: 1;
  max-height: 100vh;
  -webkit-transition: all 0.5s ease-in-ou1t;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform: translateY(0);
}

.collapse:not(.show) {
  display: block;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

@media (min-width: 992px) {
  .collapse:not(.show) {
    opacity: 1;
    max-height: 100vh;
    pointer-events: auto;
  }
}
* {
  position: relative;
}

#category-menu {
  margin-bottom: 1rem;
  background-color: #5f788a;
}
#category-menu a,
#category-menu input::placeholder {
  color: white;
}
#category-menu input::-ms-input-placeholder,
#category-menu input:-ms-input-placeholder {
  color: white;
}

.navbar.navbar-dark form .md-form .form-control {
  width: 250px;
}

.feature, #pickup-item {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 100;
}
.feature > div, #pickup-item > div {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .feature > div, #pickup-item > div {
    width: 100%;
  }
  .feature > div .swiper-button-white, #pickup-item > div .swiper-button-white {
    display: none;
  }
}
.feature h3, #pickup-item h3 {
  font-size: 1.5rem;
}
.feature a, #pickup-item a {
  color: #666;
}
.feature .btn-add-item, #pickup-item .btn-add-item {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}

#pickup-item > div {
  height: 450px;
}
#pickup-item > div:first-child {
  background: rgba(180, 165, 130, 0.1);
}
#pickup-item > div a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pickup-item > div img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.item-detail {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-detail div {
  max-width: 80%;
}
.item-detail .btn,
.item-detail select {
  width: 200px;
}
@media (max-width: 768px) {
  .item-detail div {
    width: 100%;
    max-width: 100%;
  }
  .item-detail .btn,
  .item-detail select {
    width: 100%;
  }
}
.item-detail .btn {
  margin: 0;
  margin-top: 7px;
}
@media (max-width: 768px) {
  .item-detail .btn {
    margin-top: 12px;
  }
}
.item-detail .form-group {
  margin-bottom: 0;
}

.featured-items > section > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.featured-items > section > ul > li {
  flex-basis: calc((100% - 30px) / 4);
  background: white;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
.featured-items > section > ul > li:nth-child(4n) {
  margin-right: 0px;
}
@media screen and (max-width: 768px) {
  .featured-items > section > ul > li {
    -ms-flex-preferred-size: calc((100% - 10px) / 2);
    flex-basis: calc((100% - 10px) / 2);
  }
  .featured-items > section > ul > li:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 484px) {
  .featured-items > section > ul > li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0;
  }
}
.featured-items > section > ul > li > div {
  border: 4px solid #5f788a;
}
.featured-items > section > ul > li > div > div:nth-child(3) {
  padding: 5px;
  background: rgba(180, 165, 130, 0.1);
}

.featured-items > section > ul > li:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.featured-items > section > ul > li > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.featured-items > section > ul > li > div > div {
  height: 80%;
  width: 100%;
}
@media (max-width: 484px) {
  .featured-items > section > ul > li > div > div {
    height: 85%;
  }
}
.featured-items > section > ul > li > div > div a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-items > section > ul > li > div > div img {
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

.other-items {
  display: flex;
  flex-wrap: wrap;
}
.other-items .item {
  flex: 1;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  font-weight: 100;
}
.other-items .item:nth-child(3) {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .other-items .item {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.other-items .item p {
  margin-bottom: 0;
}
.other-items .item .square {
  width: 150px;
  margin-right: 20px;
}
.other-items .item .square a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-items .item .square img {
  width: auto;
  max-height: 100%;
  max-width: 100%;
}
.other-items .item .item-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.other-items .item .item-title a {
  color: #666;
}

.category-color {
  background-color: #86C166;
}

.shipping-address .address {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .shipping-address .address {
    flex-direction: column;
    align-items: flex-start;
  }
}

#order-info {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-weight: 400;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-top {
  width: 100%;
}
.gallery-top .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-top .swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  overflow: hidden;
}

.gallery-thumbs .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.4;
  cursor: pointer;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.whatsnew {
  margin-bottom: 4rem;
}
.whatsnew li {
  padding: 20px;
  margin-bottom: 1rem;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
}
.whatsnew li h2 {
  font-size: 1.5rem;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
  margin-left: 0;
}
.whatsnew li p {
  font-size: 0.9rem;
  margin-bottom: 0;
}
.whatsnew li .entry-date-wrap {
  flex: 1;
  position: relative;
  margin-top: -50px;
}
@media screen and (max-width: 768px) {
  .whatsnew li .entry-date-wrap {
    flex-basis: 100%;
  }
}
.whatsnew li .entry-date-wrap .date-item {
  font-size: 1.6rem;
}
.whatsnew li div:nth-child(2) {
  flex: 3;
}
@media screen and (max-width: 768px) {
  .whatsnew li div:nth-child(2) {
    flex-basis: 100%;
  }
}

.continue {
  font-size: 0.8rem;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  #about > .container {
    padding: 0 16rem;
  }
}
#about ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.jumbotron {
  padding: 4rem;
}

.sold {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}
.sold p {
  color: red;
  font-weight: 600;
  font-size: 2rem;
}

.item-detail-page .sold,
#home .sold {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
}

.bcimage {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#admin-menu {
  margin-top: 4rem;
}

#item-list header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#item-list header .btn {
  margin-top: 3.4rem;
  margin-left: 2rem;
}
#item-list header .btn:nth-child(3) {
  margin-left: 0.5rem;
}

.multiField {
  margin-top: 5rem;
}

.link-formset,
.photo-form,
.item-form {
  margin-top: 3rem;
}
.link-formset small,
.photo-form small,
.item-form small {
  font-size: 0.9rem;
}
.link-formset .fa-plus-square,
.link-formset .fa-minus-square,
.photo-form .fa-plus-square,
.photo-form .fa-minus-square,
.item-form .fa-plus-square,
.item-form .fa-minus-square {
  font-size: 2rem;
  cursor: pointer;
  color: #17a2b8;
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .link-formset .fa-plus-square,
  .link-formset .fa-minus-square,
  .photo-form .fa-plus-square,
  .photo-form .fa-minus-square,
  .item-form .fa-plus-square,
  .item-form .fa-minus-square {
    font-size: 4rem;
    margin-top: 1rem;
    margin-right: 10px;
  }
}

.url-empty div[id$=DELETE],
.img-empty div[id$=DELETE] {
  display: none;
}

.thumb-wrap img {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}

.thumb-container {
  display: flex;
}

.other-img-form {
  display: flex;
  flex-wrap: wrap;
}
.other-img-form div.multiField {
  flex-basis: calc(33.333% - 20px);
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .other-img-form div.multiField {
    flex-basis: 100%;
  }
}

.plus-minus {
  display: flex;
  align-items: center;
}

img.thumb {
  width: auto;
}

div.cart-list,
div.order-list,
div.fav-items,
div.item-list {
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: grid;
  align-items: center;
}
div.cart-list img,
div.order-list img,
div.fav-items img,
div.item-list img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
div.cart-list div,
div.order-list div,
div.fav-items div,
div.item-list div {
  padding: 20px;
}
div.cart-list a,
div.order-list a,
div.fav-items a,
div.item-list a {
  color: #878a8d;
  font-size: 0.8rem;
}
div.cart-list a.btn,
div.order-list a.btn,
div.fav-items a.btn,
div.item-list a.btn {
  color: #fff;
  margin-left: 0;
}
@media (max-width: 768px) {
  div.cart-list,
  div.order-list,
  div.fav-items,
  div.item-list {
    justify-items: center;
    box-shadow: none;
  }
  div.cart-list div,
  div.order-list div,
  div.fav-items div,
  div.item-list div {
    width: 100%;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  div.cart-list div.empty,
  div.order-list div.empty,
  div.fav-items div.empty,
  div.item-list div.empty {
    padding: 10px;
    width: auto;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  div.cart-list,
  div.order-list,
  div.fav-items,
  div.item-list {
    display: none;
  }
}

div.cart-list {
  margin-top: 2rem;
  grid-template-columns: auto repeat(5, 1fr) auto;
}
@media (max-width: 768px) {
  div.cart-list {
    grid-template-columns: 1fr;
  }
  div.cart-list div:nth-child(7n) {
    margin-bottom: 4rem;
  }
}

div.order-list {
  margin-top: 1rem;
  grid-template-columns: auto repeat(2, 1fr);
}
@media (max-width: 768px) {
  div.order-list {
    grid-template-columns: 1fr;
  }
  div.order-list div:nth-child(3n) {
    margin-bottom: 2rem;
  }
}

div.cart-total {
  width: 50%;
  margin: 1rem 0 5rem auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  div.cart-total {
    width: 100%;
    margin: 0 auto 5rem;
  }
}
div.cart-total div {
  padding: 15px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  div.cart-total {
    display: none;
  }
}

.order-status {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
@media (max-width: 768px) {
  .order-status {
    width: 100%;
    margin: 0 auto;
  }
}
.order-status p {
  margin-bottom: 0.1rem;
  font-weight: 400;
}
.order-status p.bold {
  font-weight: 600;
}
.order-status .status {
  color: #33A6B8;
}

@media (max-width: 768px) {
  #order-list {
    display: flex;
    flex-direction: column;
  }
  #order-list .order-status {
    order: 1;
    margin-bottom: 1rem;
  }
  #order-list .cart-total {
    order: 2;
    margin-bottom: 0;
  }
  #order-list .order-list {
    order: 3;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
  }
}

div.item-list {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-bottom: 1rem;
}
div.item-list div {
  padding: 10px;
  position: relative;
}
div.item-list div .sold {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
@media (max-width: 768px) {
  div.item-list {
    grid-template-columns: minmax(0, 1fr);
    box-shadow: none;
  }
  div.item-list > div {
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    text-align: center;
  }
  div.item-list > div div {
    width: 100%;
  }
}

div.fav-items {
  margin-top: 1rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(5, auto);
}
div.fav-items form fieldset {
  display: flex;
  align-items: center;
}
@media (max-width: 484px) {
  div.fav-items form fieldset {
    display: block;
  }
}
@media (max-width: 768px) {
  div.fav-items {
    grid-template-columns: 1fr;
  }
  div.fav-items div:nth-child(5n) {
    margin-bottom: 4rem;
  }
}

table.table {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
table.table a {
  color: #878a8d;
}

.table td {
  font-weight: 400;
}
.table td.bold {
  font-weight: 800;
}
.table td.total-price {
  box-shadow: inset 0 0 0 2px #878a8d;
}

.table td,
.table th {
  border: none;
}

.table thead th {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 0;
  font-size: 0.8rem;
  font-weight: 300;
  padding-bottom: 0;
}

.table.cart,
.table.order-list,
.fav-items {
  display: none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .table.cart,
  .table.order-list,
  .fav-items {
    /* IE10+ CSS styles go here */
    display: block;
  }
}
@supports (-ms-accelerator: true) {
  .table.cart,
  .table.order-list,
  .fav-items {
    /* IE Edge 12+ CSS styles go here */
  }
}

.landscape {
  display: flex;
  align-items: center;
}

.list-title p {
  min-width: 0;
  min-height: 0;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
  overflow: hidden;
}

html {
  font-size: 15px;
}

body {
  background: #fafafa;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content img {
  max-width: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.featured_image {
  max-width: 100%;
  margin-bottom: 1rem;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
  display: none;
}
@media (min-width: 768px) {
  .article-img {
    display: block;
  }
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* My Own CSS */
.blog h2 {
  margin: 0 0 20px;
  font-size: 1.6rem;
}

small {
  margin-right: 5px;
}

.hide {
  display: none;
}

.inline-link {
  display: inline;
}

@media (max-width: 768px) {
  .mobile-off {
    display: none;
  }
}

.spinner-grow {
  margin-right: 7px;
}

.loading {
  margin-left: 10px;
}

.url {
  word-break: break-all;
}

.prev-next {
  flex: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.archive-heading {
  font-size: 1.6rem;
  margin: 0 0 20px;
}

ul {
  padding-left: 12px;
}
ul li {
  list-style: none;
}
ul.list-disc li {
  list-style: disc;
}

#side-menu {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  #side-menu ul:first-child {
    order: 1;
  }
}
#side-menu ul:first-child #photo-link,
#side-menu ul:first-child #new-post-link {
  margin-bottom: 10px;
}
#side-menu ul:first-child #photo-link a,
#side-menu ul:first-child #new-post-link a {
  color: white;
  font-weight: 400;
}
#side-menu ul:first-child #photo-link a i,
#side-menu ul:first-child #new-post-link a i {
  margin-right: 4px;
}
#side-menu ul:first-child #photo-link {
  text-align: right;
}

.media {
  flex-wrap: wrap;
}

div.content-section {
  position: relative;
}
div.content-section div#container-for-expand-model {
  position: relative;
  height: 5px;
}
div.content-section.post-create .expand-modal {
  position: absolute;
  top: 0;
  right: 0;
}
div.content-section.post-edit .expand-modal {
  position: absolute;
  top: 0;
  right: 0;
}
div.content-section .modal.show-modal .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.content-section .modal.show-modal .wrapper div.photo-list {
  margin-top: 40px;
}
div.content-section .modal.show-modal .wrapper div.photo-list div {
  display: flex;
  justify-content: space-between;
}
div.content-section .modal.show-modal .wrapper div.photo-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 0;
}
div.content-section .modal.show-modal .wrapper div.photo-list ul li {
  list-style: none;
}
div.content-section .modal.show-modal .wrapper div.photo-list ul li img {
  cursor: pointer;
  margin: 10px 10px 10px 0;
}

ul.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul.image-list li {
  margin: 10px 0;
  flex-basis: 49%;
}
ul.image-list li img {
  margin-right: 10px;
  width: 100%;
  max-width: 250px;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 150px;
  margin-bottom: 20px;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: rgba(39, 58, 75, 0.97);
  border-style: dashed;
  background-color: #fafafa;
  opacity: 0.9;
  color: #605e5e;
  outline: none;
  transition: border 0.24s ease-in-out;
}
@media (max-width: 768px) {
  .dropzone {
    width: 100%;
  }
}

#photo-detail .content-section,
#post-detail .content-section {
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#photo-detail .space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#photo-detail .photo-by {
  font-style: italic;
}

.links {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.comment-img {
  height: 26px;
  width: 26px;
}

.comment-list {
  margin: 50px 0 20px 30px;
}
.comment-list article {
  margin-bottom: 2rem;
}

.comment-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-head div {
  display: flex;
  align-items: center;
}
.comment-head div p {
  margin-bottom: 0;
}

.filled-field .custom-file-label {
  top: 22px;
  left: 36px;
}

@media (max-width: 768px) {
  #label_for_featured_image {
    display: none;
  }
}
.blog .navbar.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  min-height: 100%;
  position: relative;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #33A6B8;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #33A6B8;
  background-color: #33A6B8;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
}

#item-delete img {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: auto;
  display: block;
}

.wrapper {
  position: relative;
}

.full-height {
  min-height: calc(100vh - 72.5px);
  margin-bottom: 10rem;
}

.blog main {
  margin-top: 3rem;
}

#messages {
  font-size: 1.2rem;
  padding: 5px;
  margin-bottom: 1rem;
}

.alert {
  padding-left: 0;
  color: red;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.btn-main {
  background-color: #33A6B8;
  color: white;
}

.btn-outline-main {
  border: 2px solid #33A6B8 !important;
  color: #33A6B8 !important;
}

.btn-second {
  background-color: #E8B647;
  color: white;
}

.btn-outline-second {
  border: 2px solid #E8B647 !important;
  color: #E8B647 !important;
}

.pagination .btn {
  padding: 5px 10px;
  margin: 0 2px;
}

.badge-quantity,
.badge-saving {
  background-color: #62A23F;
  color: white;
  padding-bottom: 4px;
}

.badge-dispatched {
  background-color: #33A6B8;
}

.badge-momo {
  background-color: #F596AA;
  color: white;
  padding-bottom: 4px;
}

.promo-code {
  color: #DB4D6D;
  background-color: RGB(245, 150, 170, 0.3);
}

section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3.5rem;
}

.flex-buttons {
  width: 50%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}
.flex-buttons button,
.flex-buttons a {
  flex: 1;
}
.flex-buttons button:first-child,
.flex-buttons a:first-child {
  margin-left: 0;
}
.flex-buttons button:last-child,
.flex-buttons a:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .flex-buttons {
    width: 100%;
  }
  .flex-buttons a {
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.fa-heart {
  color: #33A6B8;
  font-size: 1.6rem;
  margin-left: 0.3rem;
}

@media (max-width: 768px) {
  .mobile-off {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
}

.expand-modal {
  cursor: pointer;
}

.modal.show-modal {
  overflow: scroll;
  background: #333;
  opacity: 0.9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#item .modal.show-modal,
#post-list .modal.show-modal,
#post-detail .modal.show-modal,
#photo-detail .modal.show-modal {
  padding: 10px 0;
}
#item .modal.show-modal div.bcimage,
#post-list .modal.show-modal div.bcimage,
#post-detail .modal.show-modal div.bcimage,
#photo-detail .modal.show-modal div.bcimage {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px auto;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1s;
  animation-name: fade-in;
  animation-duration: 1s;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.recommend {
  margin-top: 3rem;
  text-align: center;
}
.recommend h6 {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=styles.css.map */
