$main: #5f788a;

$green: #5f788a;
$dark-green: #26453d;
$orange: #f6993f;
$brown: #bd4a15;

$chigusa: #3A8FB7;

$jinzamomi: #EB7A77;
$toki: #EEA9A9;
$benihi: #F75C2F;
$nae: #86C166;
$araisyu: #FB966E;
$moegi: #7BA23F;
$kihada: #FBE251;
$kariyasu: #E9CD4C;
$usuao: #91B493;
$momo: #F596AA;
$yamabuki: #FFB11B;
$kuchiba: #E2943B;
$uguisucha: #6C6024;
$chigusa: #3A8FB7;
$tsuyukusa: #2EA9DF;
$gunjyo: #51A8DD;
$wasurenagusa: #7DB9DE;
$tamamorokoshi: #E8B647;
$ake: #CC543A;
$omeshicha: #376B6D;
$kokikuchinashi: #FB9966;
$sakura: #FEDFE1;
$syojyohi: #E83015;
$kurenai: #CB1B45;
$nakabeni: #DB4D6D;
$aku: #877F6C;
$rikyucha: #897D55;
$rikyushiracha: #B4A582;
$nanohana: #F7D94C;
$byakuroku: #A8D8B9;
$wakatake: #5DAC81;
$aotake: #00896C;
$rokucho: #24936E;
$ruri: #005CAF;
$ominaeshi: #DDD23B;
$byakugun: #78C2C4;
$asagi: #33A6B8;
$hanaasagi: #1E88A8;
$mizu: #81C7D4;
$sora: #58B2DC;
$chigusa: #3A8FB7;
$benifuji: #B481BB;
$botan: #C1328E;
$tsutsuji: #E03C8A;
$hai: #828282;
$ginnezumi: #91989F;

$tokigaracha: #DB8E71;
$kuwacha: #C99833;
$hajizome: #DDA52D;
$yamabukicha: #D19826;


