{% extends "blog/base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}

<div id="post-detail">
  <div class="media content-section">
    <img src="{{ self.owner.profile.image.url }}" alt="" class="rounded-circle article-img">
    <div class="media-body">
      <article>
        <!-- post -->
        <header>
          <!-- post header -->
          <div class="article-metadata">
            <i class="fas fa-user"></i>
            <a class="mr-2" href="">{{ self.owner }}</a>
            <small class="text-muted">{{ self.first_published_at|date:"Y-m-j" }}</small>
            <!-- <small class="text-muted">{{ post.date_posted }}</small> -->
            <!-- 投稿者にのみ編集ボタンを表示させる -->
            <!-- {% if post.author == user %}
            <div>
              <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">編集する</a>
              <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">削除する</a>
            </div>
            {% endif %} -->
          </div>

          <h2 class="article-title">{{ self.title }}
            <!-- {% if post.draft %}
            <small class="text-danger">（下書き）</small>
            {% endif %} -->
          </h2>
        </header> <!-- post header -->


        <div class="article-content">
          {% for content in self.main_contents.all %}
          {% if content.image %}
          {% image content.image max-600x600 as img %}
          <img src="{{ img.url }}" alt="{% if content.img_alt %}{{ content.img_alt }}{% else %}{{ img.alt }}{% endif %}" 
            class="featured_image expand-modal">
          {% endif %}
          {{ content.text | richtext }}
          {% endfor %}
        </div>

        {% if self.links.count %}
        <div class="links">
          <h6>参照URL: </h6>
          {% for link in self.links.all %}
          {% if link.title %}
          <small>{{ link.title }}</small>
          {% else %}
          <small>(No Title)</small>
          {% endif %}
          <p class="mb-1"><a class="url" href="{{ link }}" target="_blank">{{ link }}</a></p>
          {% endfor %}
        </div>
        {% endif %}

          <small>Other Authors:</small>
          {% for loop_cycle in self.blog_authors.all %}
          <a class="mr-2" href="">{{ loop_cycle.author.name }}</a>
          {% endfor %}

        <footer>
          <!-- post footer -->
          <small>カテゴリー:
            {% if self.categories.count %}
            {% for category in self.categories.all %}
            <a href="{% url 'blog:category-view' category.slug %}"}>{{ category }}</a>
            {% endfor %}
            {% else %}
            未分類
            {% endif %}
          </small>

          {% if self.tags.count %}
          <small>タグ:
            {% for tag in self.tags.all %}
            <a href="{% url 'blog:tag-view' tag.slug %}">{{ tag }}</a>
            {% endfor %}
          </small>
          {% endif %}

          <small>コメント: {{ post.approved_comments.count }}</small>

        </footer> <!-- post footer -->
      </article> <!-- post -->

      <div class="comment-list">
        {% for comment in self.comments.all %}
        <article>

          <!-- A -->
          {% if comment.approved_comment or post.author == user or comment.author == user %}

          <header>
            <!-- comment header -->
            <div class="comment-head">
              <div>
                <img src="{{ comment.author.profile.image.url }}" alt="" class="rounded-circle comment-img mr-2">
                <p>{{ comment.author }}</p>
              </div>
              <small class="text-muted">{{ comment.date_posted|date:"Y-m-j" }}</small>
            </div>

            {% if not comment.approved %}
            <!-- {% if user == self.owner %} -->
            {% if user.is_staff %}
            <div>
              <a class="btn btn-outline-primary btn-sm mt-1 mb-1"
                href="{% url 'blog:comment_approve' pk=comment.pk %}">承認する</a>
              <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'blog:comment-delete' comment.id %}">削除する</a>
            </div>
            {% endif %}
            {% if comment.author == user %}
            <div>
              <small class="text-danger">投稿者によるコメント承認待ちです。</small>
            </div>
            {% endif %}
            {% endif %}
            <!-- approved_comment -->

            {% if comment.author == user %}
            <div>
              <a class="btn btn-outline-secondary btn-sm mt-1 mb-1"
                href="{% url 'blog:comment-update' comment.id %}">編集する</a>
              <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'blog:comment-delete' comment.id %}">削除する</a>
            </div>
            {% endif %}
          </header> <!-- comment header -->


          <p>{{ comment | linebreaks }}</p>

          {% if comment.url %}
          <small>参照URL: </small>
          <p><a class="url" href="{{ comment.url }}" target="_blank">{{ comment.url }}</a></p>
          {% endif %}


          {% endif %}
          <!-- end A -->

        </article>
        <!-- each comment -->
        {% empty %}
        <p>コメントはありません。</p>
        {% endfor %}
      </div> <!-- .comment-list -->

      {% if user.is_authenticated %}
      <div>
        <!-- comment-form -->
        <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle comment-img"> {{ user }}
        <div id="add_comment">
          <form method="POST" action="{% url 'blog:comment-create' self.id %}" class="post-form">
            {% csrf_token %}
            <fieldset class="form-group">
              {% load crispy_forms_tags %}
              {{ comment_form|crispy }}
              <button class="btn btn-outline-info" type="submit">コメントする</button>
            </fieldset>
          </form>
        </div>
      </div> <!-- comment-form -->

      {% else %}
      <p class="mt-2">
        <small>コメントするにはログインが必要です。</small>
      </p>
      {% endif %}

    </div> <!-- media-body -->

    <div class="prev-next">
      <a class="btn btn-info" href="{{request.META.HTTP_REFERER}}">Back</a>
      <div>
        <a class="btn btn-outline-info" href="
                {% if next %}
                {% endif %}
              ">
          <i class="fas fa-angle-left"></i>
        </a>
        <a class="btn btn-outline-info mr-1" href="
                {% if previous %}
                {% endif %}
              ">
          <i class="fas fa-angle-right"></i>
        </a>
      </div>
      <a class="btn btn-info" href="/blog/">Top</a>
    </div> <!-- prev-next -->

  </div> <!-- content-section -->

</div> <!-- post-detail -->

{% endblock content %}