// Home
* {
  position: relative;
}

#category-menu {
  // margin-top: 1rem;
  margin-bottom: 1rem;
  // background-color: #45526e !important;
  background-color: $main;
  a,
  input::placeholder {
    color: white;
  }
  input::-ms-input-placeholder,
  input:-ms-input-placeholder {
    color: white;
  }
}

.navbar.navbar-dark form .md-form .form-control {
  width: 250px;
}

.feature, #pickup-item {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 100;
  & > div {
    width: 50%;
    // flex-basis: 50%;
    @media screen and (max-width: 768px) {
      // -ms-flex-preferred-size: 100%;
      width: 100%;
      // flex-basis: 100%;
      .swiper-button-white {
        display: none;
      }
    }
  }
  h3 {
    font-size: 1.5rem;
  }
  a {
    color: #666;
  }
  .btn-add-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
} //featured

// #home .feature > div:first-child {
//   padding: 5px;
// }

// #item .feature > div:first-child {
//   -webkit-box-shadow: none;
//   box-shadow: none;
// }

.item-detail {
  // -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  // width: 100%;
  // height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    max-width: 50%;
    // display: grid;
    // justify-items: center;
  }
  .btn,
  select {
    width: 200px;
  }
  @media (max-width: 768px) {
    div {
      width: 100%;
      max-width: 100%;
    }
    .btn,
    select {
      width: 100%;
    }
  }
  .btn {
    margin: 0;
    margin-top: 7px;
    @media (max-width: 768px) {
      margin-top: 12px;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
}

.featured-items > section > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  & > li {
    flex-basis: calc((100% - 30px) / 4);
    background: white;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;

    &:nth-child(4n) {
      margin-right: 0px;
    }

    @media screen and (max-width: 768px) {
      -ms-flex-preferred-size: calc((100% - 10px) / 2);
      flex-basis: calc((100% - 10px) / 2);
      &:nth-child(2n) {
        margin-right: 0px;
      }
    }

    @media screen and (max-width: 484px) {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin: 0;
    }

    & > div {
      border: 4px solid $main;
    }

    & > div > div:nth-child(3) {
      padding: 5px;
    }
  } //li
} //.items ul

// Square Technique
// @media screen and (min-width: 484px) {
// @media (min-width: 768px) {
.featured-items > section > ul > li {
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  & > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    & > div {
      // background: rgba(180, 165, 130, .5);
      height: 80%;
      width: 100%;
      @media (max-width: 484px) {
        height: 85%;
      }
      a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: auto;
        max-height: 100%;
        max-width: 100%;
        // width: 100%;
        // height: 100%;
        // object-fit: contain;
      }
    }
  }
} // .featured_items > div> ul > li
// } // @media

.other-items {
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // grid-gap: 20px;
  .item {
    flex: 1;
    margin-right: 20px;
    &:nth-child(3) {
      margin-right: 0;
    }
    @media screen and (max-width: 768px) {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    background: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    // grid-template-columns: 150px 1fr;
    // grid-gap: 10px;
    // align-items: center;
    font-weight: 100;
    p {
      margin-bottom: 0;
    }
    .square {
      width: 150px;
      margin-right: 20px;
      // div {
      //   width: 100%;
      //   height: 100%;
      //   background-size: contain;
      //   background-position: center center;
      //   background-repeat: no-repeat;
      // }
      a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: auto;
        max-height: 100%;
        max-width: 100%;
        // width: 100%;
        // height: 100%;
        // object-fit: contain;
      }
    }
    .item-title {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        color: #666;
      }
    }
  } //item
} //.other-items

// .other-items {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-gap: 20px;
//     // div {
//     //   padding: 20px;
//     // }
//     img {
//       margin-bottom: 10px;
//     }
// }

// .Parts-color,
// .PC-color{
//   background-color: $uguisucha;
// }
// .Furniture-color {
//   background-color: $kuchiba;
// }
// .Green-color {
//   background-color: $nae;
// }

.category-color {
  background-color: $nae;
}

.shipping-address {
  .address {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

#order-info {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-weight: 400;
}

// // bx-slider

// #item ul#bx-pager {
//   display: flex;
//   -webkit-box-shadow: 0 0 5px #ccc;
//   box-shadow: 0 0 5px #ccc;
//   padding-right: 5px;
//   li {
//     padding: 5px;
//     padding-right: 0;
//   }
// }

// .bx-wrapper {
//   margin-bottom: 13px;
//   // box-shadow: none;
// }

// Swiper Slide

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

// .swiper-slide {
//   background-size: contain;
//   background-position: center center;
//   background-repeat: no-repeat;
// }

.gallery-top {
  // height: 80%;
  width: 100%;
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
    }
  }
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  // -webkit-box-shadow: 0 0 5px #ccc;
  // box-shadow: 0 0 5px #ccc;
  overflow: hidden;
}

.gallery-thumbs .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.4;
  cursor: pointer;
  // square contain image technique (didn't work this time)
  // img {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   width: auto;
  //   height: auto;
  //   max-height: 100px;
  //   max-width: inherit;
  // }
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

// // Square Wrapper Technique (didn't work this time)
// .square {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }

// .gallery-thumbs .swiper-slide {
//   position: relative;
// }

// .gallery-thumbs .swiper-slide::before {
//   content: "";
//   display: block;
//   padding-top: 100%;
// }

// .square img {
//   height: 100%;
// }

.whatsnew {
  margin-bottom: 4rem;
  li {
    padding: 20px;
    margin-bottom: 1rem;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    h2 {
      font-size: 1.5rem;
      margin-top: 0.6rem;
      margin-bottom: 1.2rem;
      margin-left: 0;
    }
    p {
      font-size: 0.9rem;
      margin-bottom: 0;
    }
    .entry-date-wrap {
      // flex-basis: 200px;
      flex: 1;
      @media screen and (max-width: 768px) {
        flex-basis: 100%;
      }
      position: relative;
      // top: -50px;
      margin-top: -50px;
      .date-item {
        font-size: 1.6rem;
      }
      // .montn-item {
      //   text-transform: uppercase;
      // }
    } //.entry-date-wrap
    div:nth-child(2) {
      flex: 3;
      @media screen and (max-width: 768px) {
        flex-basis: 100%;
      }
    }
  } //li
} //whatsnew

.continue {
  font-size: 0.8rem;
  font-style: italic;
}


// About Page
#about {
  @media screen and (min-width: 768px) {
    & > .container {
      // border: 1px solid #666;
      padding: 0 16rem;
    }
  }
  // ul { 
  //   list-style-type: disc; 
  //   list-style-position: inside; 
  //   li {
  //     list-style: square;
  //   }
  // }
  ol { 
    list-style-type: decimal; 
    list-style-position: inside; 
  }
} //About


.jumbotron {
	padding: 4rem;
  // background-color: #5f788a;
}

.sold {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, .5);
  p {
    color: red;
    font-weight: 600;
    font-size: 2rem;
  }
}

.item-detail-page,
#home {
  .sold {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
  }
}

.bcimage {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}