@use "../basis/variables" as var;
img.thumb {
  width: auto;
}

div.cart-list,
div.order-list,
div.fav-items,
div.item-list {
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: grid;
  align-items: center;
  //  grid-gap: 20px;
  img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
  div {
    padding: 20px;
  }
  a {
    color: #878a8d;
    font-size: 0.8rem;
    &.btn {
      color: #fff;
      margin-left: 0;
    }
  }
  @media (max-width: 768px) {
    justify-items: center;
    box-shadow: none;
    div {
      width: 100%;
      padding: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    div.empty {
      padding: 10px;
      width: auto;
    }
  } //@media
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: none;
  }
} //.cart-list, order-list, fav-items

div.cart-list {
  margin-top: 2rem;
  grid-template-columns: auto repeat(5, 1fr) auto;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    div:nth-child(7n) {
      margin-bottom: 4rem;
    }
  }
} //.cart-list

div.order-list {
  margin-top: 1rem;
  grid-template-columns: auto repeat(2, 1fr);
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    div:nth-child(3n) {
      margin-bottom: 2rem;
    }
  } //@media
} //.order-list

div.cart-total {
  width: 50%;
  margin: 1rem 0 5rem auto;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0 auto 5rem;
  }
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  div {
    padding: 15px;
  }
  //  div.total-price {
  //    padding: 10px;
  //    justify-self: start;
  //    border: 1px solid;
  //  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: none;
  }
} //cart-total

.order-status {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0 auto;
  }
  p {
    margin-bottom: 0.1rem;
    font-weight: 400;
    &.bold {
      font-weight: 600;
    }
  }
  .status {
    color: var.$asagi;
  }
} //.order-status

#order-list {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    .order-status {
      order: 1;
      margin-bottom: 1rem;
    }
    .cart-total {
      order: 2;
      margin-bottom: 0;
    }
    .order-list {
      order: 3;
      margin-top: 0.5rem;
      margin-bottom: 3rem;
    }
  } // @media
} //#order-list

div.item-list {
  // grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-bottom: 1rem;
  div {
    padding: 10px;
    position: relative;
    .sold {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      // justify-content: left;
      // align-items: flex-start;
    }
  }
  @media (max-width: 768px) {
    // grid-template-columns: 1fr;
	  grid-template-columns: minmax(0, 1fr);
    box-shadow: none;
    > div {
      // width: 60%;
      padding: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 3rem;
      text-align: center;
      div {
        width: 100%;
      }
    }
  } //@media
} //item-list

div.fav-items {
  margin-top: 1rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(5, auto);
  form fieldset {
    display: flex;
    align-items: center;
    @media (max-width: 484px) {
      display: block;
    }
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    div:nth-child(5n) {
      margin-bottom: 4rem;
    }
  } //@media
} //.item-list

// div.item-list {
//   margin-top: 1rem;
//   margin-bottom: 2rem;
//   grid-template-columns: repeat(7, auto);
//   @media (max-width: 768px) {
//     grid-template-columns: 1fr;
//     div:nth-child(7n) {
//       margin-bottom: 4rem;
//     }
//   } //@media
// } //.item-list

table.table {
  margin-top: 4rem;
  margin-bottom: 4rem;
  a {
    color: #878a8d;
  }
}

.table td {
  font-weight: 400;
  &.bold {
    font-weight: 800;
  }
  &.total-price {
    box-shadow: inset 0 0 0 2px #878a8d;
  }
}

.table td,
.table th {
  border: none;
}

.table thead th {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 0;
  font-size: 0.8rem;
  font-weight: 300;
  padding-bottom: 0;
}

.table.cart,
.table.order-list,
.fav-items {
  display: none;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    display: block;
  }
  @supports (-ms-accelerator: true) {
    /* IE Edge 12+ CSS styles go here */
  }
}


.landscape {
  display: flex;
  align-items: center;
}

.list-title p {
  min-width: 0;
  min-height: 0;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
  overflow: hidden;
}