.navbar.scrolling-navbar {
  padding-bottom: 7px;
}

.navbar-nav,
a#nav-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .store li.nav-item {
    border-top: 1px solid #666;
  }
  .blog li.nav-item {
    border-top: 1px solid #cbd5db;
  }

  #main-menu li {
    padding: 10px;
    width: 100%;
    text-align: center;
  }
}

#main-menu .nav-flex-icons {
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  } //div
  @media (max-width: 768px) {
    flex-direction: column;
    div {
      width: 100%;
    }
    // li {
    //   padding: 10px;
    // }
  } //@media
} //#main-manu .nav-flex-icons

#main-menu {
  background: rgba(180, 165, 130, 0.7);
  h5 {
    font-weight: 400;
  }
  i.fa-user-edit {
    padding-right: 0;
  }
}

.blog #main-menu {
  background: #5f788a;
  h1 {
    font: 0/0 a;
    background: url(https://store7.s3.amazonaws.com/store7-logo-white.png);
    width: 120px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  a,
  h5 {
    color: white;
  }
}

.md-form {
  margin-bottom: 0;
}

.navbar .nav-item .nav-link .fab,
.navbar .nav-item .nav-link .far,
.navbar .nav-item .nav-link .fas {
  padding-right: 3px;
  padding-left: 3px;
}

// Navbar SlideToggle by CSS Technique

.navbar-collapse {
  opacity: 1;
  max-height: 100vh;
  -webkit-transition: all 0.5s ease-in-ou1t;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform: translateY(0);
}

.collapse:not(.show) {
  display: block;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

@media (min-width: 992px) {
  .collapse:not(.show) {
    opacity: 1;
    max-height: 100vh;
    pointer-events: auto;
  }
}
