{% load wagtailroutablepage_tags %}
<!--Navbar-->
<nav id="category-menu" class="navbar navbar-expand-lg navbar-dark">

  <!-- Navbar brand -->
  <!-- <span class="navbar-brand">Categories:</span> -->

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse">

    {% if item_parent_categories.count or item_categories.count %}
    <ul class="navbar-nav mr-auto">
    {% for pcat in item_parent_categories %}
      {% if pcat.children.count %}
      <li class="nav-item">
        <a href="" class="nav-link">
        {{ pcat }}
        </a>
          {% if pcat.children.count %}
          <ul style="display: none">
          {% for cat in pcat.children.all %}
            {% if cat.items.count %}
              <li class="nav-item">
                <a href="{% url 'store:category-view' cat.slug %}" class="nav-link">
                {{ cat }} ({{ cat.items.count }})
                </a>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
          {% endif %}
      </li>
      {% endif %}
    {% endfor %}

    <!-- val item_categories from core.context_processors -->
    {% for cat in item_categories %}
      {% if cat.items.count %}
      <li class="nav-item">
        <a href="{% url 'store:category-view' cat.slug %}" class="nav-link">
        {{ cat }} 
        </a>
      </li>
      {% endif %}
    {% endfor %}

    </ul>
    {% endif %}

    <form action="{% url 'search' %}" method="get" class="post-form form-incline">
      <div class="md-form my-0">
        <input type="text" name="query" class="form-control mr-sm-2"  placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

  <small>
  </small>