{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}優先住所の変更{% endblock %}

{% block content %}




<div class="container wow fadeIn">

  <!-- Heading -->
  <h2 class="mt-1 mb-5">優先住所の変更</h2>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-8 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card content-->
        <form method="POST" class="card-body">
          {% csrf_token %}

          {% if user.shipping_addresses.count %}
          <div id="div_id_list_stored_address" class="mb-4 form-group">
            <div id="id_list_stored_address" class="d-block">
              {% for value, name in form.fields.list_stored_address.choices %}
              <div class="custom-control custom-radio">
                <input id="list_stored_address_{{forloop.counter}}" name="list_stored_address" value="{{ value }}" type="radio" class="custom-control-input" 
                {% if value == primary_id %} checked="checked" {% endif %} 
                >
                <label class="custom-control-label address" for="list_stored_address_{{ forloop.counter }}">
                  {{ name }}
                </label>
                <a href="{% url 'user:update-shipping-address' pk=value %}?next={{ request.path }}">edit</a>
                {% if value == primary_id %}
                <small class="text-danger">削除するには他の住所を優先住所に指定して下さい。</small>
                {% else %}
                <a href="{% url 'user:delete-shipping-address' pk=value %}?next={{ request.path }}">delete</a>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          <button class="btn btn-main btn-sm" type="submit">この住所を選択する</button>
        </form>

      </div>

    </div>
  </div>
</div>



{% endblock content %}