{% extends "base.html" %}

{% block head_title %}
プロフィール
{% with settings.site_settings.SiteInfo.site_name as site_name %}
{% if site_name %} - {{ site_name }}{% endif %}
{% endwith %}
{% endblock %}

{% block content %}



<div id="profile" class="container">

  <h2>プロフィール</h2>

  <div>

    <!-- <div>
        <p class="label mb-0">ユーザーネーム</p>
        <p class="bold">{{ user.username }}</p>
      </div> -->

    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <div>
            <p class="label mb-0">お名前</p>
            <p class="bold">{{ user.last_name }}{{ user.first_name }} </p>
          </div>

          <div>
            <p class="label mb-0">メールアドレス</p>
            <p class="bold">{{ user.email }}</p>
          </div>
        </div>
      </div>
    </div>


    <a href="{% url 'user:edit-profile' %} " class="btn btn-outline-main btn-sm mt-4">プロフィールを編集する</a>

  </div>

  <div class="shipping-address">
    <h3>配送先住所</h3>
    {% for shipping_address in user.shipping_addresses.all %}
    <div class="mb-3">
      <p class=" label mb-0">配送先住所 {% if forloop.counter %}{{ forloop.counter }}{% endif %}</p>
      <p class="address mb-0">
        〒{{ shipping_address.zip }}
      </p>
      <p class="address mb-0">
        {{ shipping_address.state }}
        {{ shipping_address.city }}
        {{ shipping_address.street_address }}
      </p>
      <div class="mb-4">
        {% if shipping_address.primary and user.shipping_addresses.count > 1 %}
        <span class="badge badge-danger ml-2">優先住所</span>
        <a href="{% url 'user:primary-shipping-address' %}?next={{ request.path }}"><small>優先住所を変更する</small></a>
      </div>
      {% endif %}
      <a href="{% url 'user:update-shipping-address' pk=shipping_address.id %}"
        class="btn btn-outline-main btn-sm">編集する</a>
      {% if not shipping_address.primary or user.shipping_addresses.count == 1 %}
      <a href="{% url 'user:delete-shipping-address' pk=shipping_address.id %}"
        class="btn btn-outline-danger btn-sm">削除する</a>
      {% else %}
      {% if user.shipping_addresses.count > 1 %}
      <small class="text-danger">削除するには他の住所を優先住所に指定して下さい。</small>
      {% endif %}
      {% endif %}
    </div>
    {% endfor %}
    <a href="{% url 'user:create-shipping-address' %}" class="btn btn-main btn-sm">配送先住所を追加</a>
  </div>

  <div class="billing-address">
    <h3>請求先住所</h3>
    {% for billing_address in user.billing_addresses.all %}
    <div class="mb-3">
      <p class=" label mb-0">請求先住所 {% if forloop.counter %}{{ forloop.counter }}{% endif %}</p>
      <p class="address mb-0">
        〒{{ billing_address.zip }}
      </p>
      <p class="address mb-0">
        {{ billing_address.state }}
        {{ billing_address.city }}
        {{ billing_address.street_address }}
      </p>
      <div class="mb-4">
        {% if billing_address.primary and user.billing_addresses.count > 1 %}
        <span class="badge badge-danger ml-2">優先住所</span>
        <a href="{% url 'user:primary-billing-address' %}?next={{ request.path }}"><small>優先住所を変更する</small></a>
      </div>
      {% endif %}
      <a href="{% url 'user:update-billing-address' pk=billing_address.id %}?next={{ request.path }}"
        class="btn btn-outline-main btn-sm">編集する</a>
      {% if not billing_address.primary or user.billing_addresses.count == 1 %}
      <a href="{% url 'user:delete-billing-address' pk=billing_address.id %}?next={{ request.path }}"
        class="btn btn-outline-danger btn-sm">削除する</a>
      {% endif %}
    </div>
    {% endfor %}
    <a href="{% url 'user:create-billing-address' %}" class="btn btn-main btn-sm">請求先住所を追加</a>
  </div>


  <!-- {% for order in user.orders.all %}
    <p class="label mb-0">Order No: {{ order.id }}</p>
    <p >{{ order.ordered_date }}</p>
    {% endfor %} -->

</div>


</div> <!-- container -->





{% endblock content %}